#Dashcam_Body {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}


#Dashcam_Time {
    position: absolute;
    right: 10px;
    top: 47px;
    color: orange;
    font-size: 35px;
    font-weight: normal;
}

#Dashcam_CAM1 {
    position: absolute;
    right: 10px;
    top: 120px; 
    color: orange;
    font-size: 35px;
    font-weight: normal;
    text-align: right; 
}

#Dashcam_BPD {
    position: absolute;
    right: 10px;
    top: 85px;  
    color: orange;
    font-size: 35px;
    font-weight: normal;
    text-align: right; 
}

#Dashcam_Info {
    position: absolute;
    left: 50%;
    top: calc(100% - 180px);
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: normal;
}

#Dashcam_Seal {
    width: 100px; 
    margin-top: 10px; 
}

#Dashcam_Speed {
    position: absolute;
    right: 10px;
    top: 155px;
    color: orange;
    font-size: 35px;
    font-weight: normal;
    text-align: right;
}

#Dashcam_CAM1 span {
    color: #5e3a00;
    transition: color 0.2s ease-in-out;
}

#Dashcam_CAM1 span.active {
    color: orange;
}